<?xml version="1.0" encoding="utf-8"?>
<config>
  <build>
    <commands>
      <remove enabled="true" key="Project.Defaults" />
      <add enabled="true" key="Solution.Add" value="dotnet sln {solution.path} add {project.path}" />
      <add enabled="true" key="Project.Add" value="dotnet new {project.type} -o {solution.path}" />
      <add enabled="true" key="Project.AddItem" value="dotnet new {project.type} -o {solution.path}" />
      <add enabled="true" key="Npm.Install" value="npm install {project.path}" />
      <add enabled="true" key="Yarn.Install" value="yarn" workingDirectory="{project.path}" />
    </commands>
  </build>
  <outputs>
    <add enabled="true" name="Web">
      <files>
        <paths>
          <add source="Templates\Web\App" to="App" requiresPackageManager="true">
            <extension enabled="true" value="*.json" type="text" />
            <extension enabled="true" value="*.js" type="text" />
            <extension enabled="true" value="*.vue" type="text" />
            <extension enabled="true" value="*.scss" type="text" />
          </add>
          <add source="Templates\Web\Pages" to="Pages">
            <extension enabled="true" value="*.cs" type="C Sharp" />
            <extension enabled="true" value="*.cshtml" type="Razor" />
          </add>
        </paths>
      </files>
    </add>
  </outputs>
  <console>
    <hosts>
      <add enabled="true" key="powershell" default="true" name="PowerShell" path="pwsh" arguments="-c {console.arguments}" />
    </hosts>
  </console>
  <modules>
    <add enabled="true" assembly="PackageManager.DotNetCliModule" type="PackageManager.DotNetCliModule.PrimaryModule" />
    <!--<add enabled="true" assembly="PackageManager.DotNetCliModule" type="PackageManager.DotNetCliModule.TestModule" />-->
  </modules>
</config>