<?xml version="1.0" encoding="utf-8"?>
<config>
  <build>
    <commands>
      <remove enabled="true" key="Project.Defaults" />
      <add enabled="true" key="Solution.Add" value="dotnet sln add {project.type}" />
      <add enabled="true" key="Project.Add" value="dotnet new {project.type} -o {solution.path}" />
      <add enabled="true" key="Project.AddItem" value="dotnet new {project.type} -o {project.path}" />
    </commands>
  </build>
  <outputs>
    <add enabled="true" name="Web">
      <files>
        <paths>
          <add filter="src\**" from="src" to="App" />
          <add filter="Pages\**" from="Pages" to="Pages" />
        </paths>
        <extensions>
          <add enabled="true" value="*.cs" type="C Sharp" />
          <add enabled="true" value="*.cshtml" type="Razor" />
          <add enabled="true" value="*.json" type="JSON" />
          <add enabled="true" value="*.js" type="javascript" />
          <add enabled="true" value="*.scss" type="SASS" />
          <add enabled="true" value="*.vue" type="Vue page" />
        </extensions>
      </files>
    </add>
  </outputs>
  <consoles>
    <hosts>
      <add enabled="true" default="true" name="PowerShell" path="pwsh" arguments="-c {console.arguments}" />
    </hosts>
  </consoles>
  <modules>
    <add enabled="true" assembly="PackageManager.DotNetCliModule" type="PackageManager.DotNetCliModule.PrimaryModule" />
  </modules>
</config>