<?xml version="1.0" encoding="utf-8"?>
<config>
  <build>
    <commands>
      <remove enabled="true" key="Project.Defaults" />
      <add enabled="true" key="Solution.Add" value="dotnet sln {solution.path} add {project.path}" />
      <add enabled="true" key="Project.Add" value="dotnet new {project.type} -o {solution.path}">
        <type key="console" />
        <type key="classlib" />
        <type key="wpf" />
        <type key="wpflib" />
        <type key="wpfcustomcontrollib" />
        <type key="wpfusercontrollib" />
        <type key="winforms" />
        <type key="winformscontrollib" />
        <type key="winformslib" />
        <type key="worker" />
        <type key="mstest" />
        <type key="nunit" />
        <type key="nunit-test" />
        <type key="xunit" />
        <type key="razorcomponent" />
        <type key="page" />
        <type key="viewimports" />
        <type key="viewstart" />
        <type key="blazorserver" />
        <type key="blazorwasm" />
        <type key="web" />
        <type key="mvc" />
        <type key="webapp" />
        <type key="angular" />
        <type key="react" />
        <type key="reactredux" />
        <type key="razorclasslib" />
        <type key="webapi" />
        <type key="grpc" />
        <type key="gitignore" />
        <type key="globaljson" />
        <type key="nugetconfig" />
        <type key="tool-manifest" />
        <type key="webconfig" />
        <type key="proto" />
      </add>
      <add enabled="true" key="Npm.Install" value="npm install" workingDirectory="{project.path}" />
      <add enabled="true" key="Yarn.Install" value="yarn" workingDirectory="{project.path}" />
    </commands>
  </build>
  <outputs>
    <add enabled="true" name="Web">
      <files>
        <paths>
          <add source="Templates\Web\App" to="App" requiresPackageManager="true">
            <extension enabled="true" value="*.json" type="text" />
            <extension enabled="true" value="*.js" type="text" />
            <extension enabled="true" value="*.vue" type="text" />
            <extension enabled="true" value="*.scss" type="text" />
          </add>
          <add source="Templates\Web\Pages" to="Pages">
            <extension enabled="true" value="*.cs" type="C Sharp" />
            <extension enabled="true" value="*.cshtml" type="Razor" />
          </add>
        </paths>
      </files>
    </add>
  </outputs>
  <console>
    <hosts>
      <add enabled="true" key="powershell" default="true" name="PowerShell" path="pwsh" arguments="-c {console.arguments}" />
    </hosts>
  </console>
  <modules>
    <add enabled="true" assembly="PackageManager.DotNetCliModule" type="PackageManager.DotNetCliModule.PrimaryModule" />
    <!--<add enabled="true" assembly="PackageManager.DotNetCliModule" type="PackageManager.DotNetCliModule.TestModule" />-->
  </modules>
</config>